/*BOTÓN NUEVO*/
.btn-nuevo { 
  color: #000000; 
  background-color: #FFFFFF; 
  border-color: #CCCCCC;   
} 

/*BOTÓN GUARDAR*/
.btn-guardar { 
  color: #000000; 
  background-color: #FFFFFF; 
  border-color: #CCCCCC; 
  margin-top: 40%;
} 

/*CARACTERÍSTICAS DE BOTÓN NUEVO Y GUARDAR */
.btn-nuevo:hover, 
.btn-nuevo:focus, 
.btn-nuevo:active, 
.btn-nuevo.active, 
.open .dropdown-toggle.btn-nuevo,

.btn-guardar:hover, 
.btn-guardar:focus, 
.btn-guardar:active, 
.btn-guardar.active, 
.open .dropdown-toggle.btn-guardar { 
  color: #000000; 
  background-color: #CCC; 
  border-color: #CCCCCC; 
} 
 
.btn-nuevo:active, 
.btn-nuevo.active, 
.open .dropdown-toggle.btn-nuevo,

.btn-guardar:active, 
.btn-guardar.active, 
.open .dropdown-toggle.btn-guardar  { 
  background-image: none; 
} 
 
 
.btn-nuevo .badge,
.btn-guardar .badge { 
  color: #FFFFFF; 
  background-color: #000000; 
} 